name: C CI
on:
  push:
    paths:
      - '**.c'
      - '.github/workflows/Cbuild.yml'

jobs:
  C-lint-sysinfo:
    runs-on: ubuntu-latest
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo lint
        run: make lint
  C-compilation-sysinfo:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write
    needs: C-lint-sysinfo
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo compilation
        run: make build
      - name: Generate attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: 'sysinfo'

      - name: sysinfo upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: sysinfo
          name: sysinfo-${{ github.sha }}

  C-run-sysinfo:
    runs-on: ubuntu-latest
    needs: C-compilation-sysinfo
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo download artifacts
        uses: actions/download-artifact@v6
        with:
          name: sysinfo-${{ github.sha}}
      - name: run sysinfo
        run: |
          chmod +x sysinfo
          ./sysinfo