name: sysinfo CI
on: push

jobs:

  C-lint-sysinfo:
    runs-on: ubuntu-latest
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo lint
        run: make lint

  C-compilation-sysinfo:
    runs-on: ubuntu-latest
    needs: C-lint-sysinfo
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo compilation
        run: make build
      - name: lsla
        run: ls -la
      - name: upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: test
          path: ''