name: sysinfo CI
on: push

jobs:

  C-lint-sysinfo:
    runs-on: ubuntu-latest
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo lint
        run: make lint

  C-compilation-sysinfo:
    runs-on: ubuntu-latest
    needs: C-lint-sysinfo
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo compilation
        run: make build
      - name: lsla
        run: ls -la bin/sysinfo
      - name: upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: test
          path: 'bin/sysinfo'
  C-get-and-execute:
    runs-on: ubuntu-latest
    needs: C-compilation-sysinfo
    steps:
      - name: download artifact
        uses: actions/download-artifact@v5
        with:
          name: test
          path: 'bin/sysinfo'
      - name: execute sysinfo
        run: ./bin/sysinfo