name: deploy.yml
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  monjob:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: download artifact
        uses: actions/download-artifact@v3
        with:
          name: sysinfo-${{ github.sha}}
      - name: 'Create the github release'
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: sysinfo
